
.container{
    display: grid;
    grid-template-rows: 0.2fr 0.7fr 0.1fr;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-areas:
    'h1 h2'
    's b'
    'f f';
    width: 100vw;
    height: 100vh;
    background-color: #e0def4;
}

.h, .h2 {
    background-color: #555169;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.h {
    grid-area: h1;
}

.h2 {
    grid-area: h2;
}

.default, #textbox {
    display: flexbox;
    flex-direction: column;
    color:#31748f;
    text-align: center;
    grid-area: b;
    align-self: start;
    justify-self: center;
    height:min-content;
    margin:30px
}

.default:hover, .save:hover, .delete:hover{
    background-color: #ea9a97;
}

footer{
    grid-area: f;
    background-color: #f6c177;
    text-align: center;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.slider {
    grid-area: s;
    font-size: 30px;
    color: #c4a7e7;
    align-items: top;
    justify-self: left;
}

.slider:hover {
    color:#f6c177;
}

.openslider {
    display: flexbox;
    grid-area: s;
    font-size: 30px;
    color: #c4a7e7;
    align-items: start;
    justify-self: end;
    height:min-content;
    width: max-content;
}

.save, .delete {
    display: flexbox;
    font-size: 30px;
    color: #c4a7e7;
    height:30px;
    width: 100px;
}

.savedelete {
    grid-area: b;
    place-self: center;
    flex-direction:row;
}

.sliderarea{
    background-color:#c4a7e7;
    grid-area: s;
}

@media (max-width: 850px) {
    .slidernotes {
        display: flexbox;
        grid-area: s;
        align-self: end;
        justify-self: bottom;
        list-style-type: none;
    }
}

@media (min-width: 851px) {
    .slidernotes {
        display: flexbox;
        grid-area: s;
        align-self: start;
        justify-self: center;
        list-style-type: none;
    }
}