
.container{
    display: grid;
    grid-template-rows: 0.2fr 0.7fr 0.1fr;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-areas:
    'h1 h2'
    's b'
    'f f';
    width: 100vw;
    height: 100vh;
    background-color: #e0def4;
}

.h, .h2 {
    background-color: #555169;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.h {
    grid-area: h1;
    vertical-align: 50%;
}

.h2 {
    grid-area: h2;
    vertical-align: 50%;
}

.default {
    color:#31748f;
    text-align: center;
    grid-area: b;
    place-self: center;
    height:min-content;
}

.default:hover{
    background-color: #ea9a97;
}

footer{
    grid-area: f;
    background-color: #f6c177;
    text-align: center;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}